body{
	margin:0px;
}
* {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
header{
	height:40px;
	overflow:hidden;
	background-color: #555;
}
#link{
	text-decoration: none;
	margin: 10px 10px;
	display:block;
}
h3{
		color:#fff;
		margin: 0px;
}
canvas{
	float:left;
	margin: 10px 0px 0px 10px;
}
#top{
	display:inline-block;
	width:auto;
	margin-left:10px;
}
#top button{
	padding: 5px;
	height:30px;
}
#top>div{
	margin-bottom: 5px;
}
#bottom{
	margin: 10px;
	clear: both;
}
input{
	border: 1px solid;
	outline: none;
	border-radius: 0px;
}
textArea{
	color: #000;
	outline:none;
}
#rleArea{
	display: inline-block;
	width: auto;
	margin: 0px 0px;
}
#rleArea>button{
	margin-bottom: 4px;
	height:30px;
}
.mainButton{
	display:inline-block;
	margin: 10px 6px 0px 0px;
}
button:active{
	outline:2px solid;
}
button{
	border:1px solid;
}
#Button0{
	outline: 0px none;
	justify-content: space-between;
	display:inline-block;
	border:0px none;
	font-size:0;
	margin: 10px 6px 0px 0px;
}
.selectDependent{
	display: none;
}
#draw{
	margin:0px;
	border-right:0px solid;
}
#middle{
	display: block;
	padding:none;
}
#gens{
	margin: 0px;
	display:inline-block;
	min-width: 150px;
}
#undo{
	display: inline-block;
	justify-content: right;
}
#undo>*{
	margin-bottom: 0px;
}
#mbtn{
	margin:5px 0px;
	display: inline-block;
	height:30px;
	outline:none;
}
#menu1{
	margin-bottom:5px;
	padding: 8px;
	display: none;
	width:auto;
	clear: left;
	border:1px solid;
}
.tab{
	margin-left: 15px;
}
.spaceUnder{
	margin-bottom:10px;
}
#arrow1{
	display: inline;
}
#markerNumber{
		width:25px;
		margin-left:5px;
}
#save{
	margin: 0px 0px 5px 5px;
	height:30px;
	display: inline-block;
}
#percent{
	display: inline-block;
	width: 40px;
}
#error{
	height: 20px;
}
.dropdown{
	display: inline-block;
	position: relative;
}
.dropdown-button{
	min-height:30px;
	border:1px solid;
	padding-top:0px;
	min-width: 50px;
	display:inline-block;
	margin:0px;
}
.dropdown-content{
	width:100%;
	min-width:50px;
	position: absolute;
	bottom: unset;
	z-index: 1;
	visibility: hidden;
	overflow: auto;
}
.dropdown:hover .dropdown-content {
	visibility: visible;
}
.dropdown-content button {
	padding: 6px 8px;
	width:100%;
	border:solid black;
	border-width:1px 1px 1px 1px;
	font-size:13px;
	margin: 0px;
}
.dropdown button:hover:not(.dropdown-content button:last-child) .patternPreview {
	visibility: visible;
}
.patternPreview{
	position:absolute;
	left:100%;
	visibility: hidden;
	margin: -6px 0px 0px 0px;
	z-index: 2;
}
.shortText{
	width: 40px;
}

#gridMenu button{
	min-width: 62px;
}

#connection button{
	min-width: 60px;
}

.option{
	width: 100%;
	font-size:13px;
	white-space: normal;
	padding: 0px 5px 5px 5px;
}

#searchOptions>*>*{
	margin: 5px 0px;
	vertical-align: middle;
}

#searchOptions .dropdown button{
	padding: 0px;
	min-height:35px;
	width: 70px;
}

.minus{
	border-style: none;
}

.minus h2{
	margin: 0px 0px 8px;
}

#identify{
	height: 30px;
}

#identifyOutput{
	white-space: pre-line;
}


main{
	margin: 0px 5px;
}

footer{
	margin: 0px 5px;
}
