html{
  height: 100%;
}
body{
  margin:0px;
}
* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.borderColor{
  border-color: #000;
}
#title{
  width:100%;
  height:40px;
  overflow:hidden;
  display:block;
  text-decoration: none;
  padding:0px;
  background-color: #555;
}
#link{
  text-decoration: none;
  padding:0px;
  width:180px;
  margin: 10px 10px;
  display:block;
}
#content{
  padding:20px;
}
h3{
    color:#fff;
    margin: 0px;
}
canvas{
  display:inline-block;
  float:left;
  margin-bottom: 10px;
  margin-right:10px
}
#top{
  display:inline-block;
  width:auto;
}
#bottom{
  max-width:400;
}
table{
  border: nonef1f1f1;
  border-collapse: collapse;
}
.line{
  border: none;
  border-collapse: collapse;
}
.line>td>input{
  margin:5px 0px 10px 0px;
  float: right;
}
input{
  border-style: solid;
  border-width: 1px;
  outline:none;
}
textArea{
  color: #000;
  outline:none;
}
#rleArea{
  width: auto;
  margin:0px 10px;
}
#rleArea>button{
  margin-bottom: 4px;
}
.mainButton{
  height:30px;
  border:1px solid;
  outline: 0px none;
  padding-top:0px;
  display:inline-block;
  margin: 0px 6px 15px 0px;
}
button:active{
  outline:2px solid;
}
#Button0{
  outline: 0px none;
  display:inline-block;
  justify-content: space-between;
  border:0px none;
  font-size:0;
  margin: 0px 6px 15px 0px;
}
#draw{
  margin:0px;
  border-right:1px solid;
  vertical-align: top;
}
#middle{
  display: block;
  padding:none;
}
#gens{
  margin: 0px;
  display:inline-block;
  min-width: 150px;
}
#undo{
  display: inline-block;
  justify-content: right;
}
#undo>*{
  margin-left: 6px;
  margin-top: 0px;
}
#mbtn{
  margin:5px 5px;
  display: inline-block;
  outline:none;
  vertical-align: bottom;
}
#menu1{
  margin:0px 5px 5px 5px;
  padding: 8px;
  display: none;
  width:auto;
  border:1px solid;
}
.tab{
  margin-left: 15px;
}
.spaceUnder{
  margin-bottom:10px;
}
#arrow1{
  display: inline;
}
#savePlus{
  border:1px solid;
  outline: 1px none;
  padding-top:0px;
  display:inline-block;
  margin: 0px 0px 0px 5px;
}
#savePlus:active{
  outline: 1px solid;
}
#markerNumber{
    width:25px;
    margin-left:5px;
}
#save{
  margin: 0px 0px 5px 5px;
  display: inline-block;
}
#percent{
  display: inline-block;
  width: 40px;
}
#error{
  height: 20px;
}
#dropdown1 {
  display: inline-block;
  position: relative;
  z-index:1;
}
#dropbtn1 {
  min-width:50px;
  padding:0px 0px;
  margin:0px;
}
#dropdown-content1 {
  display: none;
  width:100%;
  min-width:50px;
  position: absolute;
}

#dropdown-content1 div {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  border:1px solid black;
  font-size:16px;
}

#dropdown1:hover #dropdown-content1 {
  display: block;
}
#dropdown2 {
  display: inline-block;
  position: relative;
  margin: 0px 6px 15px 0px;
}

#dropbtn2 {
  min-width:100px;
  padding:0px 0px;
  margin: 0px 0px 0px 0px;
}

#dropdown-content2 {
  display: none;
  width:100%;\
  min-width:50px;
  position: absolute;
  bottom: unset;
}

#dropdown-content2 button {
  padding: 2px 0px;
  width:100%;
  text-decoration: none;
  display: block;
  border:1px solid;
  font-size:16px;
  height:24px;
}

#dropdown2:hover #dropdown-content2 {
  display: block;
}

.shortText{
	width: 20px;
}
